<h1>{{currentTeam}} vs {{currentRole}}</h1>
<mat-table [dataSource]="dataSource" class="mat-elevation-z8" >
  <ng-container matColumnDef="week">
    <mat-header-cell *matHeaderCellDef> Week </mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.weekNum}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="opponent">
    <mat-header-cell *matHeaderCellDef> Opponent </mat-header-cell>
    <mat-cell *matCellDef="let element">{{returnOpponentTeamName(element.opponentId)}} - {{element.opponentPlayer}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="value">
    <mat-header-cell *matHeaderCellDef> ALLOWED Value </mat-header-cell>
    <ng-container *ngIf="currentRole === 'RB1Receiving' || currentRole === 'RB2Receiving'">
      <mat-cell *matCellDef="let element">{{element.rbReceivingValue}}</mat-cell>
    </ng-container>
    <ng-container *ngIf="currentRole !== 'RB1Receiving' && currentRole !== 'RB2Receiving'">
      <mat-cell *matCellDef="let element">{{element.value}}</mat-cell>
    </ng-container>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
