mat-table {
  height: 90vh;
  margin: 1rem auto 1rem;
}

mat-table mat-row:hover {
  background-color: goldenrod;
}

.left-wrapper-span {
  width: 17rem;
}

.right-wrapper-span {
  text-align: center;
  width: 2rem;
}

.mat-icon {
  overflow: visible;
}

.color-green {
  color: green;
}

.color-orangeRed {
  color: orangered;
}

.bg-grey {
  background-color: lightgray;
}

.bg-red {
  background-color: crimson;
  color: white !important;
}

.bg-orange {
  background-color: orangered;
  color: white !important;
}

.bg-yellow {
  background-color: yellowgreen;
}

.center-text {
  text-align: center;
}

.key-wrapper {
  width: 50vw;
  margin: 1rem auto;
  text-align: center;
}

.given-span {
  margin: 0 auto;
}

.difference-span {
  padding-left: 3px;
  width: 2rem;
  text-align: right;
}

.color-crimson {
  color: crimson;
}

.vs-padding {
  width: 3rem;
  padding-left: 1rem;
  padding-right:1rem;
}

.opponent {
  text-align: right;
  width: 12rem;
  color: orangered;
}

.team {
  text-align: right;
  width: 8  rem;
  color: green;
}


